[submodule "externals/gsl"]
	path = externals/gsl
	url = https://github.com/Microsoft/GSL.git
    branch = main
[submodule "externals/nod"]
	path = externals/nod
	url = https://github.com/fr00b0/nod.git
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json.git
[submodule "externals/scener-math"]
	path = externals/scener-math
	url = https://github.com/carlosga/tvml.git
[submodule "externals/vulkan-memory-allocator"]
	path = externals/vulkan-memory-allocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
