[submodule "externals/gsl"]
	path = externals/gsl
	url = https://github.com/Microsoft/GSL.git
[submodule "externals/nod"]
	path = externals/nod
	url = https://github.com/fr00b0/nod.git
[submodule "externals/scener-math"]
	path = externals/scener-math
	url = https://github.com/carlosga/scener-math.git
