[submodule "externals/json11"]
	path = externals/json11
	url = git@github.com:dropbox/json11
[submodule "externals/gsl"]
	path = externals/gsl
	url = git@github.com:Microsoft/GSL.git
[submodule "externals/nod"]
	path = externals/nod
	url = git@github.com:fr00b0/nod.git
